body {
    font-family: Lato;
}

.product {
    width: 400px;
    border: 1px solid #999999;
    padding: 20px;
    transform: scale(0.8);
    transform-origin: top left;
}


.brand {
    margin-top: -22px;
}

.price {
    color: #B12704;
}

.about {
    background-color: #ebebeb;
    padding: 15px;
    margin-bottom: 20px;
}

.buttons {
    margin-bottom: 15px;
    display: flex;
    gap: 15px;
}

.button {
    color: #853ae0;
    background: none;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.back{
    color:black;
    font-family: Lato sans-serif;
    margin-left: 4px;
    font-style: italic;
    text-decoration: underline;
}